<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ColdChainSystem Test Suite" verbose="1" parallel="false">

    <!-- Listener -->
    <listeners>
        <listener class-name="com.example.demo.TestResultListener"/>
    </listeners>

    <test name="Cold Chain System Tests">
        <classes>
            <class name="com.example.demo.ColdChainSystemTest"/>
        </classes>
    </test>

</suite>